.main {
	grid-area: main;
	background-color: darkgrey;
	text-align: center;
	p {
		color: $color-rojo;
		font-size: map-get($fuentes, text-medium);
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
	h1 {
		color: whitesmoke;
		font-size: 150%;
		font-family: sans-serif;
		background-color: yellowgreen;
		border-radius: 25px;
	}
}